.container{
  background:rgba(255, 255, 255, 0.852);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  margin-top: 10rem;
  text-align: center;
  width: 900px;
  height: 60vh;
  
}
body {
  display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/12552098/pexels-photo-12552098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.par {
margin-top: 4rem;
width: 100%;
}
.idea{
font-size: 30px;
font-weight: 500;

}
h1{
  font-size: 3.5rem;
    color: #f548d5;
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}
.button{
  margin-top: 4rem;
  font-size: 2.6rem;
  width: 60%;
  padding: 37px 50px;
  background-color: #f548d5;
  border: none;
  color: white;

}


